* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  position: relative;
  overflow: hidden;
  margin-bottom: -8px;
}

header .navbar-pattern {
  margin-bottom: -10px;
}

header .navbar-pattern img {
  width: 100%;
}

header .logo {
  position: absolute;
  top: -1vw;
  left: 5vw;
  width: 20vw;
  cursor: pointer;
  z-index: 2;
}

header .logo img {
  width: 100%;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background: #11284B;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav ul li {
  font-size: 0.8vw;
  margin: 0 1.3em;
}

header nav ul li img {
  width: 0.8vw;
}

header nav ul .reservations {
  background: #F7DF8D;
  font-size: 0.8vw;
  margin: 0 0 0 1.3em;
  padding: 2em 3em;
  cursor: pointer;
}

header nav ul .reservations a {
  color: #11284B;
  font-weight: 700;
  font-size: 1.8em;
}

header nav ul a {
  color: white;
  text-transform: uppercase;
  font-size: 1.1vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .hero-section {
  position: relative;
}

header .hero-section .hero-image {
  width: 100%;
}

header .hero-section .cta {
  position: absolute;
  left: 50%;
  bottom: 7px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50vw;
  height: 5.66vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header .hero-section .cta .left-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .hero-section .cta .left-arrow img {
  width: 2.58vw;
}

header .hero-section .cta .check-in {
  margin-left: 1.8vw;
}

header .hero-section .cta .check a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .hero-section .cta h6 {
  font-weight: 300;
  margin-top: -0.4vw;
}

header .hero-section .cta a {
  color: white;
  font-size: 1.3vw;
}

header .hero-section .cta a p {
  text-transform: uppercase;
}

header .hero-section .cta .check-availability {
  background: #8B2233;
  padding: 0.8em 3em;
  cursor: pointer;
  font-size: 1vw;
}

header .hero-section .cta .check-availability p {
  font-weight: 600;
}

header .hero-section .cta .cta-background {
  position: absolute;
  z-index: -1;
  width: 100%;
}

.guestroom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #11284B;
}

.guestroom header {
  width: 55%;
  margin: 4vw 0;
}

.guestroom header h1 {
  font-size: 3.5vw;
  font-weight: 400;
}

.guestroom header p {
  font-size: 1vw;
}

@media (max-width: 1200px) {
  .guestroom header p {
    font-size: 1.25vw;
  }
}

@media (max-width: 500px) {
  .guestroom header p {
    font-size: 1.6vw;
  }
}

.guestroom .cards-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
}

.guestroom .cards-container .card {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.guestroom .cards-container .card img {
  width: 100%;
}

.guestroom .cards-container .mid-card {
  margin: 0 2.3vw;
}

.guestroom .cards-container h1 {
  text-transform: uppercase;
  font-size: 2.25vw;
}

.guestroom .cards-container a {
  font-size: 1.5vw;
  color: white;
  padding: 0.4em 0.5em;
  text-transform: uppercase;
}

.guestroom .cards-container .cta-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.guestroom .cards-container .tour {
  background: #11284B;
}

.guestroom .cards-container .amenities {
  background: #727272;
}

.guestroom .cards-container .book-now {
  background: #8B2233;
}

.guestroom .cards-container p {
  font-size: 1vw;
  margin-top: 1.5em;
  text-align: justify;
  width: 93%;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1200px) {
  .guestroom .cards-container p {
    font-size: 1.25vw;
  }
}

@media (max-width: 500px) {
  .guestroom .cards-container p {
    font-size: 1.6vw;
  }
  .guestroom .cards-container h1 {
    font-size: 2.4vw;
  }
}

.memories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.memories header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5em 0 3em;
  font-size: 1vw;
}

.memories header h1 {
  font-size: 2.8vw;
  font-weight: 400;
  text-transform: uppercase;
  color: #11284B;
}

.memories header a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F7DF8D;
  padding: 1vw;
}

.memories header img {
  width: 1.4vw;
  margin-right: 0.8em;
}

.memories header p {
  border-left: 2px solid #707070;
  padding-left: 0.6em;
  color: #11284B;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.5vw;
}

.memories img {
  width: 100%;
}

.memories .img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.memories .img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.memories .mansion {
  margin: 0 1.8em;
  font-size: 1vw;
}

.vip-list {
  margin-top: 8vw;
}

.vip-list .background {
  position: relative;
  width: 97%;
  margin: 0 auto;
}

.vip-list .background img {
  position: absolute;
  width: 100%;
}

.vip-list .background .frame {
  width: 90%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 4vw;
}

.vip-list header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 38vw;
}

.vip-list header h1 {
  text-transform: uppercase;
  font-size: 3.8vw;
  font-weight: 400;
  color: #8B2233;
}

.vip-list header p {
  font-size: 1.6vw;
  width: 30vw;
  text-align: center;
  color: #11284B;
}

.vip-list header form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1vw;
  margin-top: 1em;
}

.vip-list header form input {
  font-size: 1vw;
  width: 20vw;
  height: 2.5em;
  padding: 0 1em;
}

.vip-list header form button {
  background: #8B2233;
  color: white;
  font-size: 1.25vw;
  font-weight: 600;
  border: none;
  padding: 0 2em;
  text-transform: uppercase;
}

footer {
  font-size: 1vw;
  margin-top: 2em;
}

footer .background img {
  width: 100%;
}

@media (max-width: 520px) {
  .navbar-pattern {
    width: 135%;
  }
  footer {
    margin-top: 4em;
  }
  header nav ul li {
    margin: 1em;
  }
  .memories header p {
    border-left: 1px solid #707070;
  }
}

@media (max-width: 350px) {
  .navbar-pattern {
    width: 155%;
  }
}
/*# sourceMappingURL=styles.css.map */
