* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    overflow: hidden;
    margin-bottom: -8px;
    .navbar-pattern {
        margin-bottom: -10px;
        img {
            width: 100%;
        }
    }
    .logo {
        position: absolute;
        top: -1vw;
        left: 5vw;
        width: 20vw;
        cursor: pointer;
        img {
            width: 100%;
        }
        z-index: 2;
    }
    nav {
        display: flex;
        width: 100%;
        background: #11284B;
        justify-content: flex-end;
        ul {
            display: flex;
            align-items: center;
            li {
                font-size: 0.8vw;
                margin: 0 1.3em;
                img {
                    width: 0.8vw;
                }
            }
            .reservations {
                    background: #F7DF8D;
                    font-size: 0.8vw;
                    margin: 0 0 0 1.3em;
                    padding: 2em 3em;
                    cursor: pointer;
                    a {
                        color:#11284B;
                        font-weight: 700;
                        font-size: 1.8em;
                    }
                }
    
            a {
                color: white;
                text-transform: uppercase;
                font-size: 1.1vw;
                display: flex;
            }
    }
    }
    .hero-section {
        position: relative;
        .hero-image {
            width: 100%;
        }
        .cta {
            position: absolute;
            left: 50%;
            bottom: 7px;
            transform: translateX(-50%);
            display: flex;
            width: 50vw;
            height: 5.66vw;
            align-items: center;
            justify-content: space-around;
            .left-arrow {
                img {
                    width: 2.58vw;
                }
            }
            .check-in {
                margin-left: 1.8vw;
            }
            .check a{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
            h6 {
                    font-weight: 300;
                    margin-top: -0.4vw;
                }
            a {
                color: white;
                font-size: 1.3vw;
                p {
                    text-transform: uppercase;
                }
            }
            .check-availability {
                background: #8B2233;
                padding: 0.8em 3em;
                cursor: pointer;
                font-size: 1vw;
                p {
                    font-weight: 600;
                }
                
            }
            .cta-background {
                position: absolute;
                z-index: -1;
                width: 100%;
            }
        }
    }
}

.guestroom {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #11284B;
    header {
        width: 55%;
        margin: 4vw 0;
        h1 {
            font-size: 3.5vw;
            font-weight: 400;
        }
        p {
            font-size: 1vw;
        }
        @media (max-width: 1200px) {
            p {
                font-size: 1.25vw;
            }
        }
        @media (max-width: 500px) {
            p {
                font-size: 1.6vw;
            }
        }
        
    }
    .cards-container {
        display: flex;
        width: 90%;
        .card {
            flex: 1;
            img {
                width: 100%;
            }
        }
        .mid-card {
            margin: 0 2.3vw;
        }
        h1 {
            text-transform: uppercase;
            font-size: 2.25vw;
        }
        a {
            font-size: 1.5vw;
            color: white;
            padding: 0.4em 0.5em;
            text-transform: uppercase;
        }
        .cta-buttons {
            display: flex;
            justify-content: space-between;
        }
        .tour {
            background: #11284B;
        }
        .amenities {
            background: #727272;
        }
        .book-now {
            background: #8B2233;
        }
        p {
            font-size: 1vw;
            margin-top: 1.5em;
            text-align: justify;
            width: 93%;
            margin-left: auto;
            margin-right: auto;
        }
        
        @media (max-width: 1200px) {
            p {
                font-size: 1.25vw;
            }
        }
        @media (max-width: 500px) {
            p {
                font-size: 1.6vw;
            }
            h1 {
                font-size: 2.4vw;
            }
        }
    }
    
}

.memories {
    display: flex;
    flex-direction: column;
    align-items: center;
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 5em 0 3em;
        font-size: 1vw;
        h1 {
            font-size: 2.8vw;
            font-weight: 400;
            text-transform: uppercase;
            color: #11284B;

        }
        a {
            display: flex;
            align-items: center;
            background: #F7DF8D;
            padding: 1vw;
        }
        img {
            width: 1.4vw;
            margin-right: 0.8em;
        }
        p {
            border-left: 2px solid #707070;
            padding-left: 0.6em;
            color: #11284B;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 1.5vw;
        }
    }
    img {
        width: 100%;
    }
    .img-container {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    .img {
        flex: 1;
    }
    .mansion {
        margin: 0 1.8em;
        font-size: 1vw;
    }
}

.vip-list {
    margin-top: 8vw;
    .background {
        position: relative;
        width: 97%;
        margin: 0 auto;
        img {
            position: absolute;
            width: 100%;
        }
        .frame {
            width: 90%;
            left: 50%;
            transform: translateX(-50%);
            top: 4vw;
        }
    }
    header {
       display: flex;
       justify-content: center; 
       align-items: center;
       height: 38vw;
       h1 {
        text-transform: uppercase;
        font-size: 3.8vw;
        font-weight: 400;
        color: #8B2233;
       }
       p {
           font-size: 1.6vw;
           width: 30vw;
           text-align: center;
           color: #11284B;
       }
       form {
           display: flex;
           font-size: 1vw;
           margin-top: 1em;
           input {
               font-size: 1vw;
               width: 20vw;
               height: 2.5em;
               padding: 0 1em;
           }
           button {
               background: #8B2233;
               color: white;
               font-size: 1.25vw;
               font-weight: 600;
               border: none;
               padding: 0 2em;
               text-transform: uppercase;
           }
       }
    }

}

footer {
    font-size: 1vw;
    margin-top: 2em;
    .background {
        img {
            width: 100%;
        }
    }
}















@media (max-width: 520px) {
    .navbar-pattern {
        width: 135%;
    }
    footer {
        margin-top: 4em;
    }

    header nav ul li {
        margin: 1em;
    }
}

@media (max-width: 350px) {
    .navbar-pattern {
        width: 155%;
    }
}


